# Make vim the default editor.
export EDITOR='vim';
# Man colorized, no clear screen on quit
export MANPAGER="less -X -R --use-color -Dd+r -Du+b"

export HISTFILE=${ZDOTDIR:-$HOME}/.zsh_history
export HISTSIZE=30000;
export SAVEHIST=24000;

export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

